adf20220421/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf20220421"
		},
		"corona datalake container_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakesu20220419.dfs.core.windows.net"
		},
		"http til ssi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://files.ssi.dk/covid19/overvagning/data/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/corona datalake container')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('corona datalake container_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/http til ssi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('http til ssi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/covid19json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "corona datalake container",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jsondata",
						"fileSystem": "corona"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/corona datalake container')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/covid19zipfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http til ssi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dailyfilename": {
						"type": "string",
						"defaultValue": "overvaagningsdata-covid19-11082021-vu5q"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().dailyfilename",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http til ssi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_files_in_datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "corona datalake container",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "corona"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/corona datalake container')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/positive_over_tid_csv_fil')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "corona datalake container",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Test_pos_over_time.csv",
						"folderPath": "overvaagningsdata-covid19-20042022-p2vl",
						"fileSystem": "corona"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "NewPositive",
						"type": "String"
					},
					{
						"name": "NotPrevPos",
						"type": "String"
					},
					{
						"name": "PosPct",
						"type": "String"
					},
					{
						"name": "PrevPos",
						"type": "String"
					},
					{
						"name": "Tested",
						"type": "String"
					},
					{
						"name": "Tested_kumulativ",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/corona datalake container')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ssi_zip_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http til ssi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "overvaagningsdata-covid19-20042022-p2vl"
					},
					"compression": {
						"type": "ZipDeflate"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http til ssi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hent zipfil fra ssi og pak ud til csv filer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "hent zipfil",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ssi_zip_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csv_files_in_datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-21T09:33:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ssi_zip_file')]",
				"[concat(variables('factoryId'), '/datasets/csv_files_in_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ssi pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get ssi web page",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://covid19.ssi.dk/overvagningsdata/download-fil-med-overvaagningdata",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "Set webpagecontent",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get ssi web page",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "webpageContent",
							"value": {
								"value": "@activity('Get ssi web page').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set zipfilename",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set current date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "zipfilename",
							"value": {
								"value": "@substring(variables('webpageContent'),indexof(variables('webpageContent'),concat('overvaagningsdata-covid19-',variables('currentDate'),'-')),add(length(concat('overvaagningsdata-covid19-',variables('currentDate'),'-')),4))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"description": "test",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set zipfilename",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "covid19zipfile",
								"type": "DatasetReference",
								"parameters": {
									"dailyfilename": "overvaagningsdata-covid19-11082021-vu5q"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "csv_files_in_datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set current date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set webpagecontent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "currentDate",
							"value": {
								"value": "@formatDateTime(adddays(utcnow(),-2),'ddMMyyyy')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"webpageContent": {
						"type": "String"
					},
					"zipfilename": {
						"type": "String"
					},
					"currentDate": {
						"type": "String",
						"defaultValue": "12082021"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-13T08:36:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/covid19zipfile')]",
				"[concat(variables('factoryId'), '/datasets/csv_files_in_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/power query transform csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "positive_over_tid_csv_fil",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> positive_over_tid_csv_fil",
							"dataset": {
								"referenceName": "positive_over_tid_csv_fil",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared positive_over_tid_csv_fil = let AdfDoc = AzureStorage.DataLakeContents(\"https://datalakesu20220419.dfs.core.windows.net/corona/overvaagningsdata-covid19-20042022-p2vl/Test_pos_over_time.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \";\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"positive_over_tid_csv_fil\",\r\n  #\"Removed other columns\" = Table.SelectColumns(Source, {\"Date\", \"NewPositive\", \"PosPct\"}) in #\"Removed other columns\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/positive_over_tid_csv_fil')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transformer positive over tid csv fil')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "positive_over_tid_csv_fil",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "covid19json",
								"type": "DatasetReference"
							},
							"name": "csvdatadestination"
						}
					],
					"transformations": [
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Date as date,",
						"          NewPositive as double,",
						"          NotPrevPos as double,",
						"          PosPct as string,",
						"          PrevPos as double,",
						"          Tested as double,",
						"          Tested_kumulativ as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          Dato = Date,",
						"          NyePositive = NewPositive,",
						"          PosPct",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> csvdatadestination"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/positive_over_tid_csv_fil')]",
				"[concat(variables('factoryId'), '/datasets/covid19json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline til power query transformationer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Power Query1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "power query transform csv",
								"type": "DataFlowReference",
								"datasetParameters": {
									"positive_over_tid_csv_fil": {},
									"UserQuerycovid19json": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQuerycovid19json",
											"dataset": {
												"referenceName": "covid19json",
												"type": "DatasetReference",
												"parameters": {}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UserQuerycovid19json"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-21T10:59:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/power query transform csv')]",
				"[concat(variables('factoryId'), '/datasets/covid19json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tranformer positive over tid fil')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow transformer csv fil",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "transformer positive over tid csv fil",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"csvdatadestination": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-21T09:55:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/transformer positive over tid csv fil')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Alle dage kl 14_05')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ssi pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-04-21T11:22:00",
						"timeZone": "Romance Standard Time",
						"schedule": {
							"minutes": [
								5
							],
							"hours": [
								14
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ssi pipeline')]"
			]
		}
	]
}